<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER PAGE</title>
</head>
<body>
    <h1>Register page</h1>
    <form action="{% url 'register_page' %}" method="POST" >
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="enter username"><br>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" placeholder="enter password"><br>
        <input type="submit" value="register">
    </form>
</body>
</html>